body{
  margin: 0;
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}
.title{
  font-size: 30px;
  font-weight: bold;
}
.btn-move{
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: 3px solid  white ;
  border-radius: 60px;
  cursor: pointer;
}
img{
  padding: 10px;
  width: 50px;
}
.js-result{
  font-size: 25px;
  font-weight: 600;
}
.btn-reset-score{
  cursor: pointer;
  padding: 8px 15px;
  background-color: white;
  border: none;
}